.Atm-Pos {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  max-width: 95%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .title {
    color: #424a52;
    font-size: 20px;
    margin-bottom: 1.2rem;
  }

  .sub-title {
    color: #535353;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  svg {
    color: #dd4f05;
  }

  .cardless-container {
    width: 80%;
    height: 55px;
    box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;

    div {
      display: flex;
      align-items: center;
      gap: 7px;

      p {
        font-weight: 500;
        color: rgb(114, 114, 114);
      }
    }
  }
}
