.airtime {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  max-width: 95%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .title {
    color: #424a52;
    font-size: 20px;
    margin-bottom: 1.2rem;
  }

  .amount-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1.2rem;

    .amount-tag {
      font-size: 14px;
      color: dimgray;
    }

    .input-container {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      width: 100%;
      height: 45px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      p {
        background-color: rgb(221, 221, 221);
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #dd4f05;
      }

      input {
        border: none;
        outline-width: 0;
        height: 100%;
        width: 90%;
        font-size: 15px;
        font-weight: 600;
        color: rgb(122, 122, 122);

        &::placeholder {
          font-size: 15px;
          font-weight: 600;
          color: rgb(189, 189, 189);
        }
      }
    }

    .balance-tag {
      font-size: 14px;
      color: rgb(175, 175, 175);
    }
  }

  .send-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1.2rem;

    p {
      font-size: 14px;
      color: dimgray;
    }

    div {
      display: flex;
      align-items: center;
      height: 45px;
      width: 100%;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding-left: 1rem;
      gap: 1.5rem;

      p {
        font-size: 15px;
        color: dimgray;
        font-weight: 600;
      }
    }
  }

  .add-number {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1.2rem;

    p {
      font-size: 15px;
      color: dimgray;
      font-weight: 600;
    }

    .input-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      input {
        width: 95%;
        height: 100%;
        border: none;
        outline-width: 0;
        font-size: 15px;
        font-weight: 600;
        color: rgb(122, 122, 122);

        &::placeholder {
          font-size: 15px;
          font-weight: 600;
          color: rgb(189, 189, 189);
        }
      }
    }
  }

  .btn {
    button {
      cursor: pointer;
      padding: 0.9rem 2.7rem 0.9rem 2.7rem;
      border-radius: 10px;
      border: none;
      font-size: 15px;
      font-weight: 600;
      color: rgb(255, 255, 255);
      background-color: #e78651;
      margin-top: 1.5rem;
      margin-right: 1rem;
    }
  }
}
